<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>about page</title>
</head>
<body>
    <body>
        <nav>
            <div class="logo">
                <img src="logo.jpg" alt="logo">
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">AboutUs</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contactus">ContactUs</a></li>
                </ul>
                <input type="text" id="search" name="search box" placeholder="Search">
    
    
            </div>
        </nav>
        <div class="container">
            <h2>
                About Us
            </h2>
            <p>This is one of the famous coffee store running since many years</p>
            <p> Here We will Provide all types of coffee beans and powder</p>
            <p>This will help you to maintain proper diet</p>
            
        </div>
        <footer>
            <p>Links to Social Media</p>
            <div id="links">
    
                <a href=""><img src="linkedin.jpg" alt="linkedin"></a>
                <a href=""><img src="github.png" alt="github"></a>
                <a href=""><img src="fb.jpg" alt="facebook"></a>
                <a href=""><img src="instagram.png" alt="instagram"></a>
            </div>
            <p id="copy">@copyright ZeenathKousar 2021</p>
        </footer>
</body>
</html>