<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>contactUs</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="logo.jpg" alt="logo">
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/home">Home</a></li>
                    <li><a href="/about">AboutUs</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contactus">ContactUs</a></li>
            </ul>
            <input type="text" id="search" name="search box" placeholder="Search">


        </div>
    </nav>
    <section class="contactUs">
        <br><br><br>
        <h1>CONTACT US</h1>
        <div id="customersupport">

            <h2>Customer Support</h2>

            <h3>+91 7865453767</h3>
            <h3>Call us: (Monday to Saturday)</h3>
            <p><b>Timings:</b> 9:00 AM to 7:00 PM (IST)</p>
            <h2>Sunday Closed</h2>

            <h3>Whatsapp No: </h3>
            <h3>+91 7865453767</h3>
            <p>To consult or any information <br> (24x7 Support) </p>


        </div>
    </section>
    <footer>
        <p>Links to Social Media</p>
        <div id="links">

            <a href=""><img src="linkedin.jpg" alt="linkedin"></a>
            <a href=""><img src="github.png" alt="github"></a>
            <a href=""><img src="fb.jpg" alt="facebook"></a>
            <a href=""><img src="instagram.png" alt="instagram"></a>
        </div>
        <p id="copy">@copyright ZeenathKousar 2021</p>
    </footer>
</body>
</html>