<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Services page</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="cb.jpg" alt="logo">
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">AboutUs</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contactus">ContactUs</a></li>
            </ul>
            <input type="text" id="search" name="search box" placeholder="Search">


        </div>
    </nav>
    <section class="services">
        <br><br>
        <br>
        <h1>OUR SERVICES</h1>
        <div class="boxes">
            
            <div class="box">
                <img src="" alt="img1">
                <h2>Coffee Bean-Arabica</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quod quasi, placeat recusandae unde id
                    repudiandae earum. Distinctio earum fugit, quos suscipit hic aliquid possimus repellat fugiat
                    consectetur
                    iusto culpa ex cum. Vitae tempore accusantium voluptate rerum alias. Libero, ad?</p>
            </div>
            <div class="box">
                <img src="" alt="img2">
                <h2>Coffee Bean-Robusta</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quod quasi, placeat recusandae unde id
                    repudiandae earum. Distinctio earum fugit, quos suscipit hic aliquid possimus repellat fugiat
                    consectetur
                    iusto culpa ex cum. Vitae tempore accusantium voluptate rerum alias. Libero, ad?</p>
            </div>
            <div class="box">
                <img src="" alt="img3">
                <h2>Coffee Bean-Liberica</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quod quasi, placeat recusandae unde id
                    repudiandae earum. Distinctio earum fugit, quos suscipit hic aliquid possimus repellat fugiat
                    consectetur
                    iusto culpa ex cum. Vitae tempore accusantium voluptate rerum alias. Libero, ad?</p>
            </div>

        </div>
    </section>
    <footer>
        <p>Links to Social Media</p>
        <div id="links">

            <a href=""><img src="linkedin.jpg" alt="linkedin"></a>
            <a href=""><img src="github.png" alt="github"></a>
            <a href=""><img src="fb.jpg" alt="facebook"></a>
            <a href=""><img src="instagram.png" alt="instagram"></a>
        </div>
        <p id="copy">@copyright ZeenathKousar 2021</p>
    </footer>
</body>

</html>